@charset "UTF-8";

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.infotop{
	margin-left: 10px;
}
*{ font-family: 'GmarketSansMedium'; }

.mname{
	font-size: 15px;
}
.btns{
	text-align: right;
    margin-right: 20px;
}
.btns button{
	    border: none;
    background-color: white;
    font-size: 12px;
}

.maptitle{
	font-size: 14px;
    margin: 20px 0px 10px 10px;
}

.chatdiv{
	position: fixed;
    bottom: 100px;
    right: 15px;
    z-index: 999;
}
.chatdiv button{
	width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 1px solid #00ff35;
    color: white;
    background-color: #73c74f;;
    font-size: 15px;
}
.pinfo{
	margin: 0px;
	width: 100%;
}
.ptitle{ font-size: 18px; }

.pcontent{ font-size: 13px;  word-break: break-all; }
.pinfobottom{ margin-top: 15px;}

#map{
	margin: 0 auto;
	margin-bottom: 30px;
}


.carousel-indicators{
	margin-bottom: 0px !important;
}
 
.carousel-item img{
	height: 270px;
	object-fit : cover;
}

#viewproduct{
	padding-bottom: 100px!important;
}   
    
.rmnoinfo img{
 	width: 50px !important;
 	border-radius: 50%;
 	border:1px solid #eeeeee;
 }

.rmnoinfo{
	display: flex;
	align-items: center;
}  
.rmnobox{
	display: flex;
	justify-content: space-between;
	align-items: center;
}   


.residence{
	font-size: 10px;
	color: gray;
}  

.rmnocontent{
	border-top: 1px solid #eeeeee;
	padding-top: 15px;
	margin-top: 20px;
}
.likebtn{
	    border: none;
    background: white;
   
}
.chatbox{
	    text-align: right;
}

.productbox{
	padding: 20px;
}



    